*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aquamarine;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background-color: blueviolet;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.mid{
    display: flex;
    gap: 1rem;
}
.icon img{
    width: 50px;
    height: 50px;
}
#input{
    border: none;
    border-bottom: 2px solid black;
    background-color: aquamarine;
} 
#btn{
    border: 2px;
    border-radius: 10px;
    background-color: azure;
    height: 30px;
    width: 50px;
}
